n8n-workflows/Sub Workflow Mails.json
{
  "name": "Sub Workflow Mails",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', `Die Email Adresse des Empfängers.`, 'string') }}",
        "subject": "={{ $fromAI('Subject', `Der Betreff der Email.`, 'string') }}",
        "emailType": "text",
        "message": "={{ $fromAI('Message', `Den Inhalt der Email.`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -288,
        464
      ],
      "id": "cbd6ddb6-3de1-41ff-a477-1d9230d539b6",
      "name": "sendEmail",
      "webhookId": "180e0df0-cd79-4ee1-a3b7-660825b2a686",
      "credentials": {
        "gmailOAuth2": {
          "id": "MHdCJDTPu6ae0uzB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -592,
        400
      ],
      "id": "c03da11b-e617-48d1-ab92-817e5e16ac24",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "brex8JPDtnsnQtNa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {
          "systemMessage": "You are an email assistant. \n\nThe user wants to send a business report email.\n\nUse the sendEmail tool to send an email with these details from the incoming webhook data:\n- To: {{ $json.to }}\n- Subject: {{ $json.subject }}  \n- Body: {{ $json.body }}\n\nSend the email now using the sendEmail tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -480,
        160
      ],
      "id": "d811b5f3-6d16-42f8-8644-444cce485793",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1a9ef5c8-6c35-4b92-a5fb-3f0a8deafb22",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        160
      ],
      "id": "8bacc7cc-b099-4c9e-a477-77fdf2eacb28",
      "name": "Webhook",
      "webhookId": "1a9ef5c8-6c35-4b92-a5fb-3f0a8deafb22"
    }
  ],
  "pinData": {},
  "connections": {
    "sendEmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "79752d14-7d63-4254-b550-c58cc889e19d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "307a2f80a844262abebde62c84e4ab4d0c23c34671f752f0989b40ab548e1657"
  },
  "id": "2lin2GZetYbBwrZX",
  "tags": [
    {
      "updatedAt": "2026-03-07T12:11:10.472Z",
      "createdAt": "2026-03-07T12:11:10.472Z",
      "id": "vn4QdRycvK9mqLjd",
      "name": "Maybe to Big."
    }
  ]
}